Repository vscodejp/conference, pull requests merged in 2023-01, with the labels that each got.

#70 プライバシーポリシー削除
  apps/2023-app/public/locales/en/common.json
  apps/2023-app/public/locales/ja/common.json
  apps/2023-app/src/components/FooterSection.tsx
  apps/2023-app/tsconfig.json
Labels: 2022-2023

#73 問い合わせフォーム更新
  apps/2023-app/src/pages/[lang]/contact.tsx
Labels: 2022-2023

#74 行動規範周りの動作修正
  apps/2023-app/src/components/FooterSection.tsx
  apps/2023-app/src/utils/endpoints.constants.ts
Labels: bug, 2022-2023

#75 問い合わせリンクから直接formに遷移
  apps/2023-app/public/locales/ja/common.json
  apps/2023-app/src/components/FooterSection.tsx
  apps/2023-app/src/pages/[lang]/contact.tsx
Labels: 2022-2023

#77 行動規範のタイトルアイコン設定
  apps/2023-app/src/pages/[lang]/code-for-conduct.tsx
Labels: 2022-2023

#79 add image
  apps/2023-app/public/icons/iganari.jpeg
Labels: 2022-2023

#84 地図のスタイル修正
  apps/2023-app/src/components/MapSection.tsx
Labels: 2022-2023

#87 refactor: all codes
  apps/2021-app/public/locales/en/common.json
  apps/2021-app/public/locales/ja/common.json
  apps/2021-app/src/components/FooterSection.tsx
  apps/2021-app/src/components/PlayerSection.tsx
  apps/2021-app/src/pages/[lang]/contact.tsx
  apps/2021-app/src/pages/[lang]/pre-event.tsx
  apps/2021-app/src/pages/[lang]/privacy-policy.tsx
  apps/2021-app/src/static/Player.module.scss
  apps/2023-app/public/locales/en/common.json
  apps/2023-app/public/locales/ja/common.json
Labels: enhancement

#88 update styles
  libs/shared/ui/lib/Avatar.styles.tsx
  libs/shared/ui/lib/Avatar.tsx
Labels: enhancement

#89 update archives
  apps/2023-app/src/components/TimetableSection.tsx
  apps/2023-app/src/static/Schedule.module.scss
  apps/2023-app/src/utils/feature.ts
  libs/shared/types/lib/session.d.ts
  libs/shared/ui/assets/Icon.tsx
  libs/shared/ui/index.ts
Labels: enhancement
